doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.2.0/dist/leaflet.css')
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(src='https://unpkg.com/leaflet@1.2.0/dist/leaflet.js')
    body
        block content  